.most-liked-post-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.most-liked-post-wrapper h1 {
  font-family: var(--roboto);
  color: var(--main-color);
  font-size: 2.5rem;
  margin-bottom: 6rem;
}

.most-liked-post {
  box-shadow: 0 0 2rem #06016f29;
  width: 100%;
  padding: 5rem 6.5rem;
  border-radius: 3.5rem;
}

.most-liked-post .post {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.2rem;
}

.most-liked-post .post:nth-child(2) {
  margin: 5rem 0;
}

.most-liked-post .post img {
  box-shadow: .5rem 1rem 2rem #06016f29;
  width: auto;
  height: 17rem;
  border-radius: 2rem;
}

.most-liked-post .post .content {
  font-family: var(--roboto);
}

.most-liked-post .post .content p {
  color: var(--main-color);
  font-size: 1.4rem;
  line-height: 2.2rem;
}

.most-liked-post .post .content h4 {
  color: var(--main-color);
  margin-top: 1.8rem;
  font-size: 1.6rem;
}

@media screen and (max-width:1024px) {
  .most-liked-post .post {
    flex-direction: column;
  }

  .most-liked-post .post img {
    height: 100%;
  }
}

@media screen and (max-width: 768px) {

  .most-liked-post {
    padding: 2rem 0;
  }

  .most-liked-post .post {
    padding: 0 5.5rem;
  }
}

@media screen and (max-width: 480px) {
  .most-liked-post-wrapper {
    width: 98%;
    margin: auto;
    padding: 0 .5rem;
  }

  .most-liked-post {
    border-radius: 0;
  }

  .most-liked-post .post {
    padding: 0 1.5rem;
  }
}